/* Reset básico */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

/* Estilo do formulário e tabela */
form {
    display: flex;
    justify-content: center;
    margin: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

td {
    border: 1px solid #000;
    padding: 5px;
    width: 40px;
    height: 40px;
}

input[type="text"] {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    font-size: 1.2em;
    box-sizing: border-box;
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid #007bff;
}

/* Estilo para as bordas de blocos 3x3 */
tr:nth-of-type(3n) td {
    border-bottom: 3px solid #000;
}

td:nth-of-type(3n) {
    border-right: 3px solid #000;
}

tr:nth-of-type(9) td {
    border-bottom: 3px solid #000;
}

td:nth-of-type(9) {
    border-right: 3px solid #000;
}

/* Adicionando bordas específicas para a borda superior e esquerda */
table {
    border: 3px solid #000; /* Bordas externas mais escuras e espessas */
    border-collapse: separate; /* Necessário para bordas externas */
    border-spacing: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Mantém bordas internas visíveis e ajustadas */
table td {
    border: 1px solid #000; /* Bordas internas mais claras e finas */
}


button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
}

/* Sudoku Container Styles */
#sudoku-container {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    gap: 2px;
}

.cell {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
}

.cell input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
    border: none;
    outline: none;
}

.cell .mini-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    font-size: 0.5rem;
}

.cell .mini-grid div {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Adicionando classes para os tamanhos diferentes */
.small td {
    width: 30px;
    height: 30px;
}

.small .multi-numbers {
    font-size: 14px;
}

.normal td {
    width: 50px;
    height: 50px;
}

.normal .multi-numbers {
    font-size: 20px;
}

/* Estilo para números gerados automaticamente */
input.readonly {
    font-size: 2em; /* Ajuste o tamanho da fonte conforme necessário */
    background-color: #e9e9e9;
    pointer-events: none;
}