<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- Container principal para o tabuleiro do Sudoku -->
    <div id="sudoku-container"></div>

    <!-- Botão para iniciar um novo jogo -->
    <button id="new-game-btn">Novo Jogo</button>

    <!-- Importação do script JavaScript -->
    <script src="script.js"></script>
</body>
</html>
